
.navList{
  display: block;
  /* border: 1px solid green; */
  background-color: rgba(22, 11, 5, 0.271);
  width: 100vw;
  height: 3.2rem;
  position: fixed;
  top: 0;
  list-style-type: none;
  padding-right: 1%;
  z-index: 4;
  text-align: left;
}

#searchBox{
  float: right;
  height: 2rem;
  border-radius: 10%;
  margin-top: 0.5%;
}

#listItem {

  border-radius: 10%;
  cursor: pointer;
  padding: 1rem;
  float: left;
  /* border: 1px solid white; */
  color: white;
  transition: 0.2s all;
}

#listItem:hover {
  background-color: rgb(22, 11, 5);
  /* border: 1px solid rgba(255, 255, 255, 0.374); */
}


.speedDialIcon {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}


.inputBox{
  padding: 1%;
  height: 2.3rem;
  width: 16rem;
  border: none;
  border-radius: 2%;
}

.inputBtn{
  width: 4rem;
  height: 2.5rem;
  cursor: pointer;
  border: none;
  transition: 0.3s all;
  border-radius: 7%;
  margin-right: 0.5rem;
}

.inputBtn:hover{
  border: 1px solid white;
  color: white;
  background-color: rgb(22, 11, 5);
}

/* .navScroll{
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.514);
  transition: 0.1s all;
} */

.icon{
  display: none;
}

.icon i{
  color: aliceblue;
  position: fixed;
    top: 3%;
    right: 2%;
}
.link{
  color: white;
  text-decoration: none;
}



@media screen and (max-width: 766px)  {
  .icon{
    cursor: pointer;
    display: block;
  }

  .navList #searchBox{
    display: none;
  }
  .navList .link{
    display: none;
  }
  .navList .link:first-child{
    display: grid;
    
  }
  .navListRes{
    transition: 0.5s all;
    height: max-content;
     display: grid;
     /* text-align: center; */
     padding-bottom: 2rem;
   }
   
   .navListRes .link{
    /* border: 1px solid red; */
     display: grid;
     justify-content: center;
   }
   .navListRes #searchBox{
    display: block;
    text-align: center;
   }

}

